#red{
	color:red;
	background-color: pink;
}

#right{
      position: absolute;
      left: 50%;
      display: inline-block;
}

#left{
	border: solid grey 2px;
	height: 520px;
	width: 470px;
	border-radius: 10px;
	display: inline-block;
	color: grey;
	margin: 9px;
	padding: 20px;
	font-family: Arial;
	line-height: 10px;
	
}