#red{
	color:red;
	background-color: pink;
}

#right{
      position: absolute;
      top: 7%;
      left: 50%;
      display: inline-block;

}

#left{
	border: solid grey 0.1em;
	height: 40%;
	width: 40%;
	border-radius: 6%;
	display: inline-block;
	color: grey;
	margin: 2%;
	padding: 4%;
	font-family: Arial;
	line-height: 100%;
	
}







