#gameboard{
    position: absolute;
    margin: 0 auto;
    top: 70px;
    left: 225px;
	  background-color: #bfff00;
	  height: 700px;
	 width: 1000px;
   border-radius: 12px;
}

html{
	background-color: #b3daff;
	  background: #b3daff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #b3daff , #ffffb3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #b3daff, #ffffb3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #b3daff, #ffffb3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #b3daff , #ffffb3); /* Standard syntax */
}

body{
	display: inline;
}

#lowerpad{

  position:absolute;
  top: 750px;
  background-color: #bfff00;
  height: 140px;
  width: 700px;
  left: 370px;
  border-radius: 12px;
  font-size: 180%;

}

#top1{
     
     color: white;
     font-size: 70%;
      border-radius: 15px;

}


#top2{
     
     color: white;
     font-size: 70%;
     margin-left: 20px;
      border-radius: 15px;
}

#top3{
     
     color: white;
     font-size: 70%;
     margin-left: 20px;
      border-radius: 15px;
}

button{
   width: 100px;
   margin-left: 70px;
  
   background-color: purple;
}

#upperbut{
  position:absolute;
  left: 50px;
  top: 7px;
}

#gen_count{
     position: absolute;
     left: 420px;
     top: 11px;
}

#upperpad{
  
  position:absolute;
  top: 10px;
  background-color: #bfff00;
  height: 90px;
  width: 700px;
  left: 370px;
  border-radius: 12px;
  font-size: 180%;
}

#sim_spd{
  position:absolute;
  top: 80px;
  left: 50px;
}

#bottom1{
     position: absolute;
     top: 28px;
     left: 210px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom2{
     position: absolute;
     top: 28px;
     left: 370px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom3{
     position: absolute;
     top: 28px;
     left: 530px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom4{
     position: absolute;
     top: 83px;
     left: 210px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#board_sz{
  position:absolute;
  top: 25px;
  left: 50px;
  

}