#gameboard{
    position: absolute;
    margin: 0 auto;
    top: 70px;
    left: 225px;
	  background-color: #9999ff;
	  height: 700px;
	 width: 1000px;
   border-radius: 12px;
}



#grid{
  position: absolute;
  background-color: white;
  top: 30px;
  left: 30px;
  color: #ffff66;
  vertical-align: middle;
}

html{
	background-color: #b3daff;
	  background: #b3daff; /* For browsers that do not support gradients */
  
}

body{
	display: inline;
}

#lowerpad{

  position:absolute;
  background-color: yellow;
  top: 741px;
  height: 140px;
  width: 700px;
  left: 370px;
  border-radius: 12px;
  font-size: 180%;

}

#top1{
     
     color: white;
     font-size: 70%;
      border-radius: 15px;

}


#top2{
     
     color: white;
     font-size: 70%;
     margin-left: 20px;
      border-radius: 15px;
}

#top3{
     
     color: white;
     font-size: 70%;
     margin-left: 20px;
      border-radius: 15px;
}

button{
   width: 100px;
   margin-left: 70px;
  
   background-color: purple;
}

table, th, td{
   border: 1px solid white;

}

.cell{
  height: 17px;
  width: 17px;
  
  background-color: #bfff80;
  float: left;

}
#upperbut{
  position:absolute;
  left: 20px;
  top: 7px;
}

#gen_count{
     position: absolute;
     left: 390px;
     top: 11px;
     font-weight: bolder;
     color: blue;
}

#upperpad{
  
  position:absolute;
  top: 10px;
  background-color: #bfff00;
  height: 90px;
  width: 700px;
  left: 370px;
  border-radius: 12px;
  font-size: 180%;
}

#sim_spd{
  position:absolute;
  top: 80px;
  left: 50px;
}

#bottom1{
     position: absolute;
     top: 28px;
     left: 210px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom2{
     position: absolute;
     top: 28px;
     left: 370px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom3{
     position: absolute;
     top: 28px;
     left: 530px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom4{
     position: absolute;
     top: 83px;
     left: 210px;
     color: white;
     font-size: 70%;
      border-radius: 15px;
       width: 130px;
}

#bottom5{
     position: absolute;
     top: 83px;
     left: 370px;
     color: white;
     font-size: 70%;
     border-radius: 15px;
     width: 130px;
}

#bottom6{
     position: absolute;
     top: 83px;
     left: 530px;
     color: white;
     font-size: 70%;
     border-radius: 15px;
     width: 130px;
}


#board_sz{
  position:absolute;
  top: 25px;
  left: 50px;
  

}